@page
@model Mission9Assignment_cgp27.Pages.PurchaseCompletedModel
@{
}

<div>
    <h2>Thanks! Your books are on their way!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>

</div>
